__pycache__/
*.pyc
*.pyo
.DS_Store
node_modules/
src/ui/dist/
src/reports/
*.backup
src/profiles/*/reports/
src/profiles/*/rmd.json
test_results/
src/check_tax.sh
src/log
src/txt
src/temp/
src/profiles/__ftest__*/
